@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');
body{
   overflow:hidden;   
}
.calculator {
    padding: 10px;
    border-radius: 1em;
    height: 380px;
    width: 300px;
    margin:140px 0 0 600px;
    background-color: rgb(255,182,193);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.display-box {
    font-family: 'Orbitron', sans-serif;
    background-color: #dcdbe1;
    border: solid black 0.5px;
    color: black;
    border-radius: 5px;
    width: 100%;
    height: 65%;
    font-size:20px;
}

h2{
    font-family: 'Single Day', cursive;
    position:absolute;
    top:450px;
    left:830px;
}


#btn {
    background-color: #fb0066;
}

input[type=button] {
    font-family: 'Orbitron', sans-serif;
    background-color: #64278f;
    color: white;
    border: solid black 0.5px;
    width: 90%;
    border-radius: 5px;
    height: 70%;
    outline: none;
}
